* {
    background-color:#fbda06;
    margin:0%;
    padding:0%;
    color:#c4182f;
}

h1 {
    text-align: center;
    font-size: 300%;
    @font-face {
        font-family: "Ji Burrito";
        src: "fonts/Ji_Burrito.ttf";
    };
}